/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );
.list-style-none {
  list-style: none;
}
// max width of the site is set to 1366px
@media (min-width: 1400px) and (min-width: 1904px) {
  .v-container {
    max-width: 1200px !important;
  }
  .v-container.container--fluid {
    max-width: 100%;
  }
}
